.about-section {
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    background: url('../../assets/bg4.jpg') center center / cover fixed no-repeat;
    clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
    padding: 12rem 0;
}

.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(249, 242, 79, 0.8);
    z-index: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 920px;
    text-align: center;
    z-index: 1;
}

.container h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.container p {
    font-size: 1.6rem;
    max-width: 50%;
    margin: 0 auto;
    line-height: 2.2rem;
    margin-bottom: 3rem;
    color: var(--text-dark-secondary);
}

@media (min-width: 1600px){
    .about-section {
        padding: 17rem 0;
    }
}