html {
  scroll-behavior: smooth;
}

.footer {
  position: relative;
}

.wrapper {
  height: 18rem;
  background-color: var(--bg-dark);
  -webkit-clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
}

.container {
  max-width: 102rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  color: var(--text-light);
  font-size: 1.2rem;
}

.container ul {
  display: flex;
  gap: 2.5rem;
}

.container li {
  color: var(--text-light);
  font-size: 1.4rem;
  cursor: pointer;
}

.top-btn {
  font-size: 3rem;
  color: var(--yellow-primary);
  max-width: 102rem;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  transform: translateY(67%);
  z-index: 30;
  position: relative;
}

.btn {
  background-color: var(--yellow-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.btn:hover .arrow {
  transform: translateY(-2px);
  transition: 0.2s;
}

.arrow {
  color: var(--bg-dark);
  transition: 0.2s;
}

.social {
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--text-light);
  font-size: 1.6rem;
  transition: .3s;
}

.icon a:hover {
  color: white;
  transition: .3s;
}

.nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-light);
  position: relative;

  background-image: linear-gradient(to right, #222222, #000000 50%, #6e6e6e 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}

.nav a:before {
  content: "";
  background: var(--yellow-primary);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  background-position: 0;
}

.nav a:hover::before {
  width: 100%;
}

@media (max-width: 1120px) {
  .container {
    max-width: 90%;
  }
  .top-btn {
    max-width: 90%;
    transform: translateY(60%);
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 80%;
    flex-direction: column;
    padding-top: 6rem;
    gap: 2rem;
    justify-content: start;
    text-align: center;
  }
  .top-btn {
    max-width: 80%;
  }
}
