.header {
  display: flex;
  justify-content: space-between;
  width: 102rem;
  align-items: center;
  margin: 5rem auto 3rem;
}

.logo {
  font-size: 2rem;
  color: var(--text-dark-secondary);
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.logo::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--yellow-primary);
  display: inline-block;
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
  margin-left: 0.1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  padding: 0;
  margin: 0;
}

.nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #7e7e7e;
  position: relative;

  background-image: linear-gradient(to right, #222222, #000000 50%, #6e6e6e 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav a:before {
  content: "";
  background: var(--yellow-primary);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;

}

.nav a:hover {
  background-position: 0;
}

.nav a:hover::before {
  width: 100%;
}

.menu-icon {
  font-size: 3.5rem;
  opacity: 0.7;
  cursor: pointer;
}

.menu-icon:hover {
  opacity: 1;
}

@media (max-width: 1120px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .header {
    width: 80%;
    align-items: flex-start;
    margin-bottom: 0;
  }
}
